/* Header */
header {
  width: 100%;
  height: 50rem;
  padding: 2.25rem;
  margin-bottom: 0;
  background: url(../images/desktop/image-hero.jpg);
  background-size: cover;
}

.title-background {
  width: 45%;
  margin: 6rem;
  padding: 1rem;
}

h1 {
  font-size: 3.75rem;
  line-height: 4rem;
  margin-left: 2rem;
}

.logo-image {
  width: 15%;
  margin: 0 0 0 6rem;
}

.header-nav {
  margin: 1rem 0 0 50rem;
}

.header-nav ul {
  flex-direction: row;
}

.header-nav a {
  margin-left: 2rem;
}

/* About Section */
.about {
  height: 20rem;
  margin-bottom: 40rem;
  margin: 5rem 0 18rem 9rem;
}

.about-img {
  width: 50%;
  margin: 3rem 1.3rem 3rem 1.5rem; /* Could not get 'margin: 3rem auto' to center image */
  position: relative;
  z-index: 1;
}

.about-header {
  width: 46%;
  margin: -21rem 0 5rem 30rem;
  padding: 6rem 2rem;
  background: hsl(0, 0%, 100%);
  position: relative;
  z-index: 10;
}

.about-header h2 {
  font-size: 2.75rem;
  line-height: 2.5rem;
}

.about p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* Creations */
.creations {
  width: 90%;
  margin: 0 auto;
}

.creations h3 {
  text-align: left;
}

/* Images Section */
.images {
  width: 90%;
  flex-direction: column;
  margin: 0 10rem;
}

.box1 {
  background: url(../images/desktop/image-deep-earth.jpg);
  background-size: cover;
  height: 30vh;
  width: 90%;
}

.box2 {
  background: url(../images/desktop/image-night-arcade.jpg);
  background-size: cover;
}

.box3 {
  background: url(../images/desktop/image-soccer-team.jpg);
  background-size: cover;
}

.box4 {
  background: url(../images/desktop/image-grid.jpg);
  background-size: cover;
}

.box5 {
  background: url(../images/desktop/image-from-above.jpg);
  background-size: cover;
}

.box6 {
  background: url(../images/desktop/image-pocket-borealis.jpg);
  background-size: cover;
}

.box7 {
  background: url(../images/desktop/image-curiosity.jpg);
  background-size: cover;
}

.box8 {
  background: url(../images/desktop/image-fisheye.jpg);
  background-size: cover;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  height: 25rem;
  width: 25%;
  margin: 0 2rem 2rem 0;
}

.images-set1 {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.images-set2 {
  display: flex;
  flex-direction: row;
  width: 90%;
}
